<!DOCTYPE html>

<html lang="en">
<head><title>
Главная страница объявлений
</title></head>
<body>


<div th:include="_layout :: head"></div>

<div class="container">

    <div class="row col-md-8 col-md-offset-2">
    <h2>Объявления (всего в базе <span th:text="${#lists.size(ads)}"/>) </h2>
        <a href="/add_advertisment" class="btn btn-primary">Добавить</a>
    </div>


    <div data-th-each="ad : ${ads}" class="row col-md-8 col-md-offset-2">
              <h3 > <span th:text="${ad.title}"/>
                  <a th:href="@{/delete_advertisment(id=${ad.id})}" class="btn btn-warning btn-xs">удалить</a>
              </h3>
        <!--<h3 > <span th:text="${ad.user}"/> </h3>-->
        <label th:each="id,status : ${ad.user}" th:for="|id${status.index}|" th:text="'By '+${id.email}"></label>
        <p class="text-info" th:text=" ${#calendars.format(ad.date,'dd MMMM yyyy')}"/>
              <p th:utext="${#strings.replace( ad.content, T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"/>

    </div>


</div>

<div th:include="_layout :: foot"></div>


</body>

</html>